<div class="px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6 p-4 lg:p-7" style="background-color: rgba(255,255,255,.2)">
      <div class="text-xl text-900 font-500 mb-3">Welcome to ReleaseMinder</div>
      <p class="text-600 line-height-3 mt-0 mb-6">An open-source alternative to Jira aimed at improving performance and lowering costs</p>
      <ul class="list-none p-0 m-0">
        <app-login-sidebar-feature
          [iconClass]="'pi-id-card'"
          [title]="'Multi-Tenant'"
          [text]="'Allowing for custom subdomains for free and custom hostnames for premium customers'"
        />
        <app-login-sidebar-feature
          [iconClass]="'pi-shield'"
          [title]="'Secure'"
          [text]="'Strong focus on security, utilizing Supabase and OAuth 2.0'"
        />
        <app-login-sidebar-feature
          [iconClass]="'pi-cloud'"
          [title]="'Cloud-Hosted'"
          [text]="'Currently hosted in EU West Region in the Cloud with room to expand globally'"
        />
      </ul>
    </div>
    <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
      <div class="text-900 text-2xl font-medium mb-6">Login</div>
      <label for="email3" class="block text-900 font-medium mb-2">Email</label>
      <input id="email3" type="text" placeholder="Email address" pInputText class="w-full mb-4">

      <label for="password3" class="block text-900 font-medium mb-2">Password</label>
      <input id="password3" type="password" placeholder="Password" pInputText class="w-full mb-4">

      <div class="flex align-items-center justify-content-between mb-6">
        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
      </div>

      <button pButton pRipple label="Login" icon="pi pi-user" class="w-full"></button>

      <p-divider align="center" styleClass="my-6">
        <span class="text-600 font-normal text-sm">OR</span>
      </p-divider>

      <button
        *ngIf="featureFlagsStore.isSignInWithGitHubEnabled()"
        [loading]="userAuthenticationStore.loggedInState() === 'LOADING'"
        (click)="doGitHubLogin()"
        pButton pRipple label="Sign In with GitHub" icon="pi pi-github" class="w-full p-button-secondary"></button>
      <button
        *ngIf="featureFlagsStore.isSignInWithGoogleEnabled()"
        [loading]="userAuthenticationStore.loggedInState() === 'LOADING'"
        (click)="doGoogleLogin()"
        pButton pRipple label="Sign In with Google" icon="pi pi-google" class="w-full bg-blue-600 my-5"></button>

      <div class="mt-6 text-center text-600">
        Don't have an account? <a tabindex="0" class="font-medium text-blue-500 cursor-pointer">Sign up</a>
      </div>
    </div>
  </div>
</div>
