<app-navbar (darkModeToggleEvent)="handleDarkModeToggleEvent($event)" (sideNavToggleEvent)="userAuthenticationStore.setIsSidebarOpen($event)" />
<app-update-or-maintenance-in-progress-message *ngIf="featureFlagsStore.isUpdateOrMaintenanceInProgress()" />
<ng-container *ngIf="publicApplicationMessage$ | async as publicMessages">
  @for (publicMessage of publicMessages; track $index; ) {
    <app-application-message
      *ngIf="!featureFlagsStore.isUpdateOrMaintenanceInProgress() &&
      userAuthenticationStore.isLoggedIn() &&
      publicMessage.isShow"
      [severity]="publicMessage.severity"
      [message]="publicMessage.message"
      [routerLink]="publicMessage.routerLink"
      [routerLinkText]="publicMessage.routerLinkText"
    />
  }
</ng-container>
<app-free-trial-message *ngIf="userAuthenticationStore.isLoggedIn() && paymentStore.isTrialActive()" />
<p-toast
  [hideTransitionOptions]="'300ms'"
  [showTransformOptions]="'translateY(100%)'"
  [showTransformOptions]="'translateX(100%)'"
  [showTransitionOptions]="'300ms'"
  key="general"
  position="bottom-right"
/>
<p-toast [baseZIndex]="5000" key="confirm" position="bottom-center">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column align-items-start" style="flex: 1">
      <div class="flex align-items-center gap-2">
        <p-avatar image="assets/favicon.ico" shape="circle" />
        <span class="font-bold text-900">{{ message.summary }}</span>
      </div>
      <div class="font-medium text-lg my-3 text-900">{{ message.detail }}</div>
    </div>
  </ng-template>
</p-toast>
<p-confirmDialog />
<app-sidebar />
<div class="min-h-full">
  <router-outlet />
</div>
<app-footer />
